@font-face {
  font-family: 'HelveticaNeueLight';
  // src: url('../assets/fonts/HelveticaNeueLight.woff');
  src: url('../assets/fonts/HelveticaNeue Light.woff');
}

// font///
$font-opensans: 'Open Sans', sans-serif;
$font-helvetica: "HelveticaNeueLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
// end font///

// project color//
$color-blue: #59417f;
$color-dark-grey: #cdd2f6;
$color-pink: #ff6fa0;
$color-pink2: #fee1eb;
$color-bluis-white: #f7f9fe;
$color-nobel: #9b9b9b;
$color-info: #dddde9;
$color-levender: #e6e5ed;
$color-blue-2: #1143c2;
$color-white: #ffffff;
$color-white2: #cbbde2;
$color-white3: #e1e1e1;
$color-white4: #e1e1eb;
$color-white5: #f8f9fb;
$color-black: #252525;
$color-black2: #523c74;
$color-gray: #808080;
$color-gray2: #eeeeee;
$color-gray3: #fafafa;
$color-gray4: #d9d9d9;
$color-dark-gray: #414c5a;
$color-gray4: #f5fafd;
$color-levender-gray: #cfcddd;
$color-button: #4a90e2;
$color-sky: #5198cc;
$color-sky2: #3c8ec8;
$color-green: #00b888;
$color-security: #ee4758;
$color-magenta: #796eff;
$color-smoke: #f8f8f8;
$color-white-gray: #e3e3e3;
$color-black-pearl: #161d28;
$color-whisper: #e8e8e8;
$color-denim: #90b4d9;
$color-denim2: #7fc9ff;
$color-midnight: #273140;
$color-deep-blue: #180f5d;
$color-silver: #f3f5f9;
$color-ashes: #c7c7d9;
$color-snow: #635aa1;
$color-zambezi: #606060;
$color-gray63: #a1a1a1;
$color-wistful: #aaabcd;
$color-blue-linear: #6d6ae0;
$color-snow2: #dfdff7;


